*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Corinthia', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Mada', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;

background-color: white;
color: white;

/*font-family: 'Titillium Web', sans-serif;*/

/*font-family: 'Ysabeau SC', sans-serif;*/
}


header{
  background-color: white;
 
}


.cont_header {
 /* background-color: brown;*/
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
  color: black;
}




.cont_header nav ul {
  display: flex;
  
}

.cont_header nav ul a{
  margin: 0 10px;
text-decoration: none;
color: black;

font-size: 30px;
transition: all 0.90s;

}






::-webkit-scrollbar {
  width: 10px;
}

/* Fondo de la barra de desplazamiento */
::-webkit-scrollbar-track {
  background-color: black;
}

/* Color de la barra de desplazamiento */
::-webkit-scrollbar-thumb { 
  background-color:#35eb9a;
  border-radius: 2em;
}

/* Esquina redondeada de la barra de desplazamiento */
::-webkit-scrollbar-corner {
  background-color: black;
}











