*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'Corinthia', cursive;
font-family: 'Fira Sans', sans-serif;
font-family: 'Inter', sans-serif;
font-family: 'Lora', serif;
font-family: 'Mada', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;


/*font-family: 'Titillium Web', sans-serif;*/

/*font-family: 'Ysabeau SC', sans-serif;*/
}



.cont_header {
 /* background-color: brown;*/
  margin: auto;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Oswald', sans-serif;
}




.cont_header nav ul {
  display: flex;
  
}

.cont_header nav ul a{
  margin: 0 10px;
text-decoration: none;
color: black;

font-size: 30px;
transition: all 0.90s;

}





